<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.compiladores.poli/rec/Rectrine"
			class = "poli.compiladores.rec.rectrine.RectrinePackage"
			genModel = "model/generated/Rectrine.genmodel" />
	</extension>
</plugin>
